.facebook,
.twitter,
.instagram,
.youtube,
.github,
.linkedin,
.codepen,
.stackoverflow,
.medium,
.spotify,
.dribbble {
    fill: #bababa;
}

.facebook:hover,
.twitter:hover,
.instagram:hover,
.youtube:hover,
.github:hover,
.linkedin:hover,
.codepen:hover,
.stackoverflow:hover,
.medium:hover,
.spotify:hover,
.dribbble:hover {
    fill: #ffffff;
}

.facebook:hover {
    fill: #3b5998;
}

.twitter:hover {
    fill: #1da1f2;
}

.instagram:hover {
    fill: #e1306c;
}

.youtube:hover {
    fill: #cd201f;
}

.linkedin:hover {
    fill: #0077b5;
}

.dribbble:hover {
    fill: #c43d61;
}

.dribbble:hover circle {
    fill: #e84c89;
}

.stackoverflow:hover {
    fill: #fe7a16;
}

.medium:hover {
    fill: #03A87C;
}

.spotify:hover {
    fill: #1ed760;
}

.codepen:hover,
.facebook:hover rect,
.github:hover,
.linkedin:hover rect,
.spotify:hover circle,
.youtube:hover rect {
    fill: #ffffff;
}

.stackoverflow:hover #tray {
    fill: #bcbbbb;
}

.stackoverflow:hover #stack {
    fill: #f48024;
}